@model HandleErrorInfo
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-danger">Error, We ran into error. Please try again !</h2>

<p>
    An error occurred while processing your request.
</p>

<h5>
    Action: @Model.ActionName <br />
</h5>
<h5>
    Controller: @Model.ControllerName <br />
</h5>
<h5>
    Exception: @Model.Exception.Message <br />
</h5>



