@{
    ViewBag.Title = "Contact";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    <h3>@ViewBag.Message</h3>

    <address>
        Dong Van - Duy Tien - Ha Nam<br />
        Raiden<br />
        <abbr title="Phone">P:</abbr>
        0385246651
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">nguyenduchai1112000@gmail.com</a><br />
    </address>
</main>