
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="text-danger">Error, We ran into error. Please try again !</h2>

<p>
    An error occurred while processing your request.
</p>



