@model IEnumerable<EFCodeFirst.Models.Product>
@{
    ViewBag.Title = "Product List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Products</h2>

<div class="row row-cols-1 row-cols-5 g-4">
    @foreach(var item in Model)
    {
        // Dùng partial view
        // GỌi đến action gọi ra partial view
        Html.RenderAction("DisplaySingleProduct", "Products", new { p = item });
    }
</div>